


#translationPluginTooltip {
  font-family: sans-serif;
  font-size: 8pt;
  color: #999;
  background: white;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.65) 2px 2px 8px -1px;
  max-width: 400px;
  padding: 5px;
  position: absolute;
  z-index: 999999999;
  display: none;   /*--Hides by default--*/
}

#translationPluginTooltip strong{
  color: #777;
}

#translationPluginTooltip em{
  color: #777;
}


#translationPluginTooltip.loading:after{
  content: '';
  height: 0px;
  border-right: 10px solid;
  border-color: inherit;
  border-top: 10px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom:0px;
  right: 0px;
}

span.translationPhraseHighlight{
  border-bottom: 1px solid;
}


/* Color encodings for languages */

.langfr{
  border-color: rgb(0, 122, 255) !important;
  background: rgba(0, 122, 255, 0.1);
}


.langen{
  border-color: rgb(180, 0, 0) !important;
  background: rgba(180, 0, 0, 0.1);
}

.langde{
  border-color: rgb(238, 200, 0) !important;
  background: rgba(238, 200, 0, 0.1);
}